body{background: lightsalmon}
#chris {
    color: blue;
    font-size: 5 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#holland {
    color: purple;
    font-size: 5 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#add{
    float: right;
    font-size:30px;
    color:red;
    text-align:center;
    width: 30%;
    padding: 10px;
    border-style: dotted;
    border-color:purple;
    border-width: 10px;
    margin: 3em;
    background-color:lightblue;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
}

h2  {
    font-family: 'Gloria Hallelujah', cursive;
}

p {font-family: 'Play', sans-serif;}

#chris {font-family: 'Play', sans-serif;}
#holland {font-family: 'Play', sans-serif;}





#about:hover{
    font-size: 150%;
}
#resume:hover{
    font-size: 150%;
}
#projects:hover{
    font-size: 150%;
}
#contact:hover{
    font-size: 150%;
}

  


#tango{
    font-size:30px;
    color:rgb(238, 225, 225);
    text-align:center;
    width: 30%;
    padding: 10px;
    border-style: line;
    border-color:rgb(3, 30, 104);
    border-width: 10px;
    margin: 3em;


}

img{ width : 50%;
    height:auto;
}
