body{background: lightsalmon}

#chris {
    color: blue;
    font-size: 5 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#holland {
    color: green;
    font-size: 5 rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

